.About {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.About h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.About p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.about-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border: none; /* Ensure no border is applied */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .About h2 {
    font-size: 1.5rem;
  }

  .About p {
    font-size: 0.9rem;
  }
}
