/* index.css or App.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body, html {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-container {
  text-align: center;
  overflow: auto;
  scrollbar-width: none; 
}

.home-container::-webkit-scrollbar {
  display: none; 
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(194, 228, 43);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.section {
  padding: 60px;
  margin: 20px 0;
}

.home-section {
  background-color: #f2f2f2;
}

.about-section {
  background-color: #e2e2e2;
}

.services-section {
  background-color: #d2d2d2;
}

.contact-section {
  background-color: #c2c2c2;
}

h1, h2 {
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.footer-container {
  margin-top: 40px;
}

/* Slick Carousel Styles */
.your-slider-class {
  width: 80%;
  margin: 0 auto;
}

.your-slider-class img {
  width: 100%;
  height: auto;
}

/* Add animation for sliding in from the left */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.Graphics {
  text-align: left; /* Align text to the left */
  margin-top: 20px;
  /* Apply sliding animation from the left */
  animation: slideInLeft 1s ease-out;
}

.Graphics img {
  max-width: 50%; /* Adjust the max-width to make the image smaller */
  height: auto;
  border: none;
  /* Align image to the left */
  display: block;
  margin-left: 0;
  margin-right: auto;
}
