.icon {
    display: inline-block;
    line-height: 1;
    text-align: center;
  }
  
  .icon-star {
    /* Add custom styles for star icon if needed */
  }
  
  .icon-heart {
    /* Add custom styles for heart icon if needed */
  }
  
  .icon-home {
    /* Add custom styles for home icon if needed */
  }
  
  .icon-contact{
    /* Add custom styles for home icon if needed */
}
  